.login-page{
	background-image: url('/images/fundo.jpg');
	background-repeat: no-repeat;
    height: 100%; 
    background-position: center;
    position: absolute;
    width: 100%;
    left: 0; 
}

.navbar-brand {
	padding-top: 2px;
} 

.gambiarra{
	color: white;
}

